<div class="dialog-forms">
    <form method="post" action="<{spUrl app=desktop c=ctl_customer a=save isAjax=true}>" id="customer_form">
        <input type="hidden" name="action" value="<{$action}>" />
        <input type="hidden" name="cus_id" value="<{$detail.cus_id}>" />
        <ul class="cus-edit">
            <li><em style="color:red;">*</em> 客户公司简称：<input type="text" name="cus_name" value="<{$detail.cus_name}>" required /></li>
            <li>客户公司名称：<input type="text" size="60" name="cus_company" value="<{$detail.cus_company}>" /></li>
            <li>客户公司地址：<input type="text" size="60" name="cus_address" value="<{$detail.cus_address}>" /></li>
            <li>客户代号：<input type="text" name="cus_bn" value="<{$detail.cus_bn}>" /></li>
            <li>联系人：<input type="text" name="cus_contacts" value="<{$detail.cus_contacts}>" /></li>
            <li>联系电话：<input type="text" name="cus_tel" value="<{$detail.cus_tel}>" /></li>
            <li>传真：<input type="text" name="cus_fax" value="<{$detail.cus_fax}>" /></li>
            <li>手机：<input type="text" name="cus_mobile" value="<{$detail.cus_mobile}>" /></li>
            <li>邮编：<input type="text" name="cus_zip" value="<{$detail.cus_zip}>" /></li>
        </ul>
        <button type="submit">保存</button>　<button type="button" class="popup-btn-close">取消</button>
    </form>
</div>
<script>
    window.addEvent('domready',function(){

        // 保存
        var f = $('customer_form');
        var action = f.get('action');
        f.addEvent('submit',function(e){
            e.stop();
            if(!validator(this)) return false;

            var submit_btn = this.getElement('[type=submit]');
            new Request({url:action,
                onRequest:function(e){
                    submit_btn.set('disabled', true);
                },
                onComplete:function(re){
                    var result = JSON.decode(re);
                    if (result.rsp == 'succ')
                    {
                        alert(result.msg);
                        submit_btn.getParent('.popup-container').retrieve('instance').hide();
                        self.window.location.reload();
                    }else{
                        submit_btn.set('disabled', false);
                        alert(result.msg);
                        return false;
                    }
                }
            }).send(f.toQueryString());
        });

        // 取消
        $$('.popup-btn-close').addEvent('click', function(e){
            this.getParent('.popup-container').retrieve('instance').hide();
        });

    });
</script>
