<{include file="header.html"}>
<h1>
    <span class="action-span">
        <form action="<{spUrl app=desktop c=ctl_customer a=index}>" method="post" name="searchForm">
            <{img src="img/icon_search_g.gif" width="26" height="22" border="0" alt="SEARCH"}>
            客户名称：<input type="text" name="cus_name" id="cus_name" size="15"  value="<{$cus_name}>" />
            <input type="submit" value="搜索" class="button" />
        </form>
    </span>
    <span class="action-span1" style="cursor: hand;" id="add">
        <{img src="img/customer/add_customer.png" width="24" height="24" border="0" style="cursor: hand;" alt="添加客户"}>
    </span>
    <div style="clear:both"></div>
</h1>

<div style="width:100%">
<{foreach from=$list key=keys item=cus name="cus_list"}>
    <div style="float:left;width:10%; height:100px; margin:5px; margin-bottom:10px; text-align: center;" class="customer">
        <div style="text-align: center;"><{img src="img/customer/customer.png" width="32" height="32" border="0" alt="{$cus.cus_name}"}></div>
        <p><{$cus.cus_name}></p>
        <div style="margin-top:-15px;">
        <{img src="img/edit.png" style="cursor:hand;" width="16" height="16" border="0" alt="编辑" class="edit" cus_id="<{$cus.cus_id}>"}>
        <{img src="img/dollar.png" style="cursor:hand;"  width="16" height="16" border="0" alt="产品价格维护" class="price" cus_id="<{$cus.cus_id}>"}>
        <{img src="img/order.png" style="cursor:hand;" width="16" height="16" border="0" alt="下单收货" class="order" cus_id="<{$cus.cus_id}>"}>
        <a href="<{spUrl app=desktop c=ctl_order a=index}>/cus_id/<{$cus.cus_id}>/ship_status/waiting">
            <{img src="img/icon_docs.gif" width="16" height="16" border="0" alt="订单列表"}>
        </a>
        <a href="<{spUrl app=desktop c=ctl_delivery a=index}>/cus_id/<{$cus.cus_id}>/print_status/0">
            <{img src="img/print.png" width="16" height="16" border="0" alt="发货"}>
        </a>
        </div>
    </div>    
<{/foreach}>
</div>

<script>

     (function($){
      $(function(){ 
            $("body").on('focus', "#cus_name", function(){
                $(this).autocomplete({
                   source: <{$quickList}>,
                   minLength: 0
                }).click(function() {
                   $(this).autocomplete('search', '');
                });
            });
      })
      })(jQuery)

    $$('.customer').addEvent('mouseover', function(e){
        this.setStyle('background-color','#BBDDE5');
    });
    $$('.customer').addEvent('mouseout', function(e){
        this.setStyle('background-color','');
    });

    // 添加客户信息
    $('add').addEvent('click', function(e){
        var url = '<{spUrl app=desktop c=ctl_customer a=add}>';
        dialog('添加客户信息', url);
    });

    // 编辑客户信息
    $$('.edit').addEvent('click', function(e){
        var cus_id = this.get('cus_id');
        var url = '<{spUrl app=desktop c=ctl_customer a=edit}>/cus_id/' + cus_id;
        dialog('编辑客户信息', url);
    });

    // 单价维护
    $$('.price').addEvent('click', function(e){
        var cus_id = this.get('cus_id');
        var url = '<{spUrl app=desktop c=ctl_customer a=price}>/cus_id/' + cus_id;
        dialog('客户产品价格维护', url);
    });

    // 下单
    $$('.order').addEvent('click', function(e){
        var cus_id = this.get('cus_id');
        var url = '<{spUrl app=desktop c=ctl_order a=add}>/cus_id/' + cus_id;
        dialog('客户下单', url, '', 800, 450);
    });

    function dialog(title,url,data,width,height){
        width = width ? width : '800';
        height = height ? height : '550';
        new Dialog(url,{title:title, width:width,height:height,pins:true,async:'ajax',
            position: {
                offset: {x: 0, y: -60},
                intoView: true
            },
            asyncOptions: {
                method: 'post',
                data: data
            }
        });
    }
</script>
