<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网站管理后台</title>
<{script src="js/moo.js"}>
<{script src="js/tools.js"}>
<{script src="js/jquery-1.8.3.min.js"}>
<{script src="js/jquery-ui-1.12.1.js"}>
<{script src="js/ui.js"}>
<{script src="js/forms.js"}>
<{script src="js/WdatePicker.js"}>
<{*style href="skin/public.css"*}>
<{style href="skin/screen.css"}>
<{style href="css/common.css"}>
<{style href="css/pager.css"}>
<{style href="css/jquery-ui.css"}>
<script>jQuery.noConflict();</script>
</head>
<body>
