<h1>
  <span class="action-span">电话：<{$customer.cus_tel}>  / <{$customer.cus_mobile}></span>
  <span class="action-span1">客户：<{$customer.cus_name}>  &nbsp;&nbsp;&nbsp;&nbsp;日期：<{$smarty.now|date_format:'%Y-%m-%d'}></span>
  <div style="clear:both"></div>
</h1>
<form method="post" action="<{spUrl app=desktop c=ctl_order a=doSave isAjax=true}>" id="order_form">
  <div class="list-div" id="listDiv">
      <input type="hidden" name="cus_id" value="<{$customer.cus_id}>" />
      <input type="hidden" id="maxGid" value="0" />
      <input type="hidden" id="curGid" value="0" />

      <{foreach from=$paperType key=type_id item=val}>
          <{if $val.price}>
              <div id='priceTips<{$type_id}>' class="tips" style="display: none; position: absolute; background-color:#FBFBFB; line-height:20px; border: 1px solid #CCCCCC; ">
                  <{foreach from=$val.price key=k item=price}>
                  <input type="radio" name="customerPrice[<{$val.type_id}>][]" class="choice-price" value="<{$price}>" size="6" /> <{$price}>
                  <{/foreach}>
                  <{img src="img/close.gif" width="16" onclick="HideTips(\"priceTips<{$type_id}>\");" height="16" border="0" alt="关闭"}>
              </div>
          <{/if}>
      <{/foreach}>

    <table cellpadding="3" cellspacing="1">
      <thead>
        <tr>
          <th>纸质</th>
		  <th>尺寸</th>
		  <th>原订数</th>
		  <th>单价</th>
		  <th>金额</th>
            <th>备注</th>
          <th class="last">
		  操作 <{img src="img/add.png" width="16" height="16" border="0" alt="添加" id="addGoods"}>
		  <{img src="img/adds.gif" width="16" height="16" border="0" alt="添加配件" id="addProducts"}>
		  </th>
        </tr>
      </thead>
      <tbody id="goods_list">
      </tbody>
    </table>
  </div>

<div style="text-align:center;">
    <button type="submit">保存</button>　
    <button type="button" class="popup-btn-close">取消</button>
</div>
</form>

<script>

    // 保存
    var f = $('order_form');
    var action = f.get('action');
    f.addEvent('submit',function(e){
        e.stop();
        if(!validator(this)) return false;

        var submit_btn = this.getElement('[type=submit]');
        new Request({url:action,
            onRequest:function(e){
                submit_btn.set('value', '下单处理中...');
                submit_btn.set('disabled', true);
            },
            onComplete:function(re){
                var result = JSON.decode(re);
                if (result.rsp == 'succ')
                {
                    alert(result.msg);
                    self.window.location.href = '<{spUrl app=desktop c=ctl_order a=index cus_id=$cus_id}>';
                }else{
                    submit_btn.set('disabled', false);
                    submit_btn.set('value', '保存');
                    alert(result.msg);
                    return false;
                }
            }
        }).send(f.toQueryString());
    });

    // 添加纸
    $('addGoods').addEvent('click', function(e){
        var paperType = '', html = '';
        var maxGid = parseInt($('maxGid').get('value')) + 1;
        $('maxGid').set('value', maxGid);
        <{foreach from=$paperType key=type_id item=val}>
        paperType += '<input type="radio" name="paper_type['+maxGid+']" value="<{$type_id}>" class="paper_type" price_num="<{$val.price_num}>" price="<{$val.price.0}>" type_id="<{$type_id}>" />';
        paperType += '<{$val.short_name}>';
        <{/foreach}>

        var delButton = "<{img src='img/del.png' width='16' height='16' border='0' alt='删除' class='delGoods'}>";
        html += '<td>'+paperType+'<input type="hidden" name="type[]" value=""/><input type="text" name="price[]" atype="price"  value="" size="6" required autocomplete="off" /></td>';
        html += '<td>';
        html += '长:<input type="text" size="3" name="length[]" atype="length"  value="" autocomplete="off" required/>*';
        html += '宽:<input type="text" size="3" name="width[]" atype="width"  value="" autocomplete="off" required />*';
        html += '高:<input type="text" size="3" name="height[]" atype="height"  value="" autocomplete="off" required />';
        html += '</td>';
        html += '<td><input type="text" size="3" name="num[]" atype="num" value="" autocomplete="off" required /></td>';
        html += '<td><input type="hidden" size="3" name="sale_price[]"  value="" /><span btype="sale_price">-</span></td>';
        html += '<td><input type="hidden" size="3" name="amount[]" value="" /><span btype="amount">-</span></td>';
        html += '<td><input type="text" size="20" name="memo[]" value="" /></td>';
        html += '<td>'+delButton+'</td>';
        html += '</tr>';

        var tr = new Element('tr', {id:'gid_'+maxGid,goods_type:'goods',html: html}).inject($('goods_list'));

        // 选择纸质
        $$('.paper_type').addEvent('click', function(e){
            var price_num = this.get('price_num');
            var type_id = this.get('type_id');
            var gid = this.getParent('td').getParent('tr').get('id');
            hideAllTips();
            if (price_num > 1) {
                $('curGid').set('value', gid);
				this.getParent('td').getChildren('input[name="type[]"]').set('value', type_id);
                ShowTips('priceTips'+type_id);
            } else {
                var price = this.get('price');
                this.getParent('td').getChildren('input[atype=price]').set('value', price).fireEvent('change');
            }
            this.getParent('td').getChildren('input[name="type[]"]').set('value', type_id);
        });

        // 选择价格
        $$('.choice-price').addEvent('click', function(e){
            var price = this.get('value');
            var curGid = $('curGid').get('value');
            $(curGid).getElement('input[atype=price]').set('value', price).fireEvent('change');
            this.getParent().hide();
        });

        $$("input[atype]").addEvent('change', function(e){
            changetotalgoods(this);
        });

        $$('.delGoods').addEvent('click', function(e){
            if (confirm('确认要删除吗?')) {
                this.getParent('tr').destroy();
            }
        });
    });
    $('addGoods').fireEvent('click');


	// 添加配件
    $('addProducts').addEvent('click', function(e){
        var paperType = '', html = '';
        var maxGid = parseInt($('maxGid').get('value')) + 1;
        $('maxGid').set('value', maxGid);

        var delButton = "<{img src='img/del.png' width='16' height='16' border='0' alt='删除' class='delGoods'}>";
        html += '<td>配件<input type="hidden" name="type[]" value=""/><input type="text" name="price[]" atype="price"  value="" size="6" required /></td>';
        html += '<td>';
        html += '<input type="hidden" size="3" name="length[]" atype="length"  value=""/><input type="hidden" size="3" name="height[]" atype="height"  value=""/><input type="text" size="30" name="width[]"  value="" autocomplete="off" required/>';
        html += '</td>';
        html += '<td><input type="text" size="3" name="num[]" atype="num" value="" autocomplete="off" required /></td>';
        html += '<td><input type="hidden" size="3" name="sale_price[]"  value="" /><span btype="sale_price">-</span></td>';
        html += '<td><input type="hidden" size="3" name="amount[]" value="" /><span btype="amount">-</span></td>';
        html += '<td><input type="text" size="20" name="memo[]" value="" /></td>';
        html += '<td>'+delButton+'</td>';
        html += '</tr>';

        var tr = new Element('tr', {id:'gid_'+maxGid,goods_type:'products', html: html}).inject($('goods_list'));


        $$("input[atype]").addEvent('change', function(e){
            changetotalgoods(this);
        });

        $$('.delGoods').addEvent('click', function(e){
            if (confirm('确认要删除吗?')) {
                this.getParent('tr').destroy();
            }
        });
    });

    function changetotalgoods(e){
        var _ca = e.getNext('.error');
        var tr = e.getParent('tr');

        if (/^\d+(\.\d+)?$/.test(e.value)){
            if (parseFloat(e.value) <= 0){
                if (!_ca){
                    new Element('span',{'class':'error caution notice-inline',html:'错误'}).inject(e,'after');
                    e.set('value', '0');
                }
                return;
            }else{
                if (_ca) _ca.remove();
            }
        }else{
            if (!_ca){
                new Element('span',{'class':"error caution notice-inline",html:"错误"}).inject(e,'after');
                e.set('value', '0');
            }
        }


        var goods_type = tr.get('goods_type');
        var price = parseFloat(tr.getElement('input[atype=price]').get('value')) || 0;
        var num = tr.getElement('input[atype=num]').get('value') || 1;
        if (num == 1) tr.getElement('input[atype=num]').set('value', num);

//alert(goods_type);
		if (goods_type == 'goods') {
			var length = parseFloat(tr.getElement('input[atype=length]').get('value')) || 0;
			var width = parseFloat(tr.getElement('input[atype=width]').get('value')) || 0;
			var height = parseFloat(tr.getElement('input[atype=height]').get('value')) || 0;
			
			if (!price || !length || !width || !height) {
				return;
			}

			//少于30个，每个加0.2元
			if(num < 30){
				price += 0.2;
			}

			var sale_price = price * ((length + width + 8) / 100) * ((width + height + 4) / 100);
		} else {
			var sale_price = price;
	    }

        //销售价
        tr.getElement('input[name=sale_price[]]').set('value', parseFloat(sale_price).toFixed(3));
        tr.getElement('span[btype=sale_price]').set('text',  parseFloat(sale_price).toFixed(3));


        //金额
        tr.getElement('input[name=amount[]]').set('value', parseFloat(num * sale_price).toFixed(3));
        tr.getElement('span[btype=amount]').set('text', parseFloat(num * sale_price).toFixed(3));
    }

    function ShowTips(e)
    {
        $$('.tips').hide();
        if (document.getElementById(e)) {
            var div = document.getElementById(e);
            div.style.display="block";
            div.style.left=document.body.scrollLeft+e.clientX+20;
            div.style.top=document.body.scrollTop+e.clientY;
        }
    }

    function HideTips(e)
    {
        if (document.getElementById(e)) {
            var div=document.getElementById(e);
            div.style.display="none";
        }
    }

    // 隐藏价格
    function hideAllTips()
    {
    <{foreach from=$paperType key=type_id item=val}>
          HideTips('priceTips'+<{$type_id}>);
    <{/foreach}>
    }

    // 取消
    $$('.popup-btn-close').addEvent('click', function(e){
        this.getParent('.popup-container').retrieve('instance').hide();
    });

</script>
