<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><{$tpl_title}> - <{$title}></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<{style href="css/setup.css"}>
	<{style href="css/jquery.ui.css" app="base"}>
	<{script src="js/jquery.js" app="base"}>
	<{script src="js/jquery.ui.js" app="base"}>
</head>

<body>
<div id="logos">
  <div id="logos-inside"><{img src="images/logo.gif" alt="panjeck"}> </div>
	<div id="lang-menu">
	  <div id="lang-menu-inside">
	  </div>
	</div>
</div>