/**
 X─────────────────────────────────[   
 │                                                                  │ 
 │ xhtml html 通用css样式 1.0 www.i8web.com 空心莲子羹 QQ:45498106  │
 │                                                                  │ 
 ^─────────────────────────────────a 
**/

/** 浏览器兼容性定义 **/
* {margin:0;padding:0;} 
img	{boder: 0;}

/** 解决xhtml下frame页面横向滚动条的问题 
html { overflow-y: scroll; } **/
/** xhtml下滚动条的颜色定义 **/

*{
  scrollbar-3dlight-color:#D4D0C8; /*- 最外左 -*/
  scrollbar-highlight-color:#fff; /*- 左二 -*/
  scrollbar-face-color:#E4E4E4; /*- 面子 -*/
  scrollbar-arrow-color:#666; /*- 箭头 -*/
  scrollbar-shadow-color:#808080; /*- 右二 -*/
  scrollbar-darkshadow-color:#D7DCE0; /*- 右一 -*/
  scrollbar-base-color:#D7DCE0; /*- 基色 -*/
  scrollbar-track-color:#;/*- 滑道 -*/
}
html {
	height:100%;
	max-height:100%;
	font-size:12px;
	font-family: "宋体";
}
.txt12{
	font-family: "宋体";
	font-size: 12px;
}.txt12Copy {
	filter: DropShadow(Color=#ffffff, OffX=1, OffY=1, Positive=1);
	font-family: "宋体";
	font-size: 12px;
}
.txt12h {
	font-family: "宋体";
	font-size: 12px;
	color: #FF9900;
}
.txt12in {
	float: right;
	filter: DropShadow(Color=#ffffff, OffX=1, OffY=1, Positive=1);
	font-family: "宋体";
	font-size: 12px;
	padding-top: 1px;
	padding-left: 4px;
}
.txt16 {
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	color: #4372B0;
}
.txt1218 {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #666666;
}
.rl {
	font-family: "宋体";
	font-size: 12px;
	filter: DropShadow(Color=#ffffff, OffX=1, OffY=1, Positive=1);
	color: #333333;
}
/** 高18带背景图片 **/
.inputtCopy {COLOR: #000000;FONT-FAMILY:font-family:Tahoma,Verdana;FONT-SIZE: 12px;BACKGROUND:#f5f5f5;BORDER: 1px solid #CCCCCC;line-height: normal;height: 18px;font-style: normal;width: 100px;}
/** 下拉表单 **/
SELECT {FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: "宋体"; TEXT-DECORATION: none}
/** 表单文字高18带背景图片 **/
.input {COLOR: #000000;FONT-FAMILY:font-family:Tahoma,Verdana;FONT-SIZE: 12px;BACKGROUND: #FFFFFF;BORDER: 1px solid #CCCCCC;line-height: normal;height: 18px;font-style: normal;}
/** 表单文字 **/
.input2 {FONT-SIZE: 12px;COLOR: #3d3d3d;border: 1px solid #a4a4a4;height: 18px;width: 96px;}
/** 表单文字灰边框 **/
.input3 {
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	border: 1px solid #a4a4a4;
	width: 76px;
	height: 18px;
}
/** 框架 **/
FORM {PADDING-RIGHT: 0pt; MARGIN-TOP: 0pt; PADDING-LEFT: 0pt; MARGIN-BOTTOM: 0pt; PADDING-BOTTOM: 0pt; PADDING-TOP: 0pt}
