.dynamic-tab-pane-control.tab-pane {
    position:   relative;
    width:      100%;       /* width needed weird IE bug */
    margin-right:   -2px;   /* to make room for the shadow */
}

.dynamic-tab-pane-control .tab-row .tab {
    width:              70px;
    height:             21px;
    line-height: 19px;
    background-image:   url( "../img/tab/tab.png" );
    position:       relative;
    top:            0;
    display:        inline;
    float:          left;
    overflow:       hidden;
    margin:         1px -1px 1px 2px;
    padding:        2px 0px 0px 0px;
    border:         0;
    z-index:        1;
    font-size:     12px;
    white-space:    nowrap;
    text-align:     center;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
    width:              74px !important;
    height:             23px !important;
    line-height:21px;
    background-image:   url( "../img/tab/tab.active.png" ) !important;
    background-repaet:  no-repeat;
    border-bottom-width:    0;
    z-index:        3;
    padding:        2px 0 0 0;
    margin:         1px -3px -3px 0px;
    top:            -2px;
}

.dynamic-tab-pane-control .tab-row .tab a {
    color:              black;
    text-decoration:    none;
}

.dynamic-tab-pane-control .tab-row .tab.hover {
    width:              70px;
    height:             21px;
    background-image:   url( "../img/tab/tab.hover.png" );
    background-repaet:  no-repeat;
}


.dynamic-tab-pane-control .tab-page {
    clear:          both;
    border:         1px solid rgb( 145, 155, 156 );
    background:     rgb( 252, 252, 254 );
    z-index:        2;
    position:       relative;
    top:            -2px;
    color:          black;
    background-image: -webkit-liner-gradient(0,0 0,100% #fcfcfe,#f4f3ee);
    filter:         progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fffcfcfe, EndColorStr=#fff4f3ee, GradientType=0)
                    progid:DXImageTransform.Microsoft.Shadow(Color=#ff919899, Strength=2, Direction=135);
    padding:        10px;
}

.dynamic-tab-pane-control .tab-row {
    z-index:        1;
    white-space:    nowrap;
}
